@model DashboardData;
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";

    var routeUrl = Url.RouteUrl(ViewContext.RouteData.Values);
    var qsPath = ViewContext.HttpContext.Request.QueryString.Value;
    var url = $"{routeUrl}{qsPath}";

}

@section Styles{
    <link href="~/css/dashboard.css" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <script type="text/javascript">
        var cyclingCount = @Model.ActivitiesCycling.Count;
        var hikingCount = @Model.ActivitiesHiking.Count;
        var runningCount = @Model.ActivitiesRunning.Count;

        var dataActivities = @Html.Raw(Json.Serialize(Model.LineChartData["Activities"]))
        var dataHiking = @Html.Raw(Json.Serialize(Model.LineChartData["Hiking"]))
        var dataCycling = @Html.Raw(Json.Serialize(Model.LineChartData["Cycling"]))
        var dataRunning = @Html.Raw(Json.Serialize(Model.LineChartData["Running"]))
        var chartData = dataActivities
    </script>

    <script src="~/js/dashboard.js"></script>
    <script src="~/lib/chart.js/Chart.min.js"></script>
    <script src="~/js/charts/chart-area.js"></script>
    <script src="~/js/charts/chart-pie.js"></script>
}


<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Your Dashboard, @Model.User.FirstName</h1>
    </div>

    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2" style="user-select:none;">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Total activities
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.UserActivities.Count</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-heartbeat fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2" style="user-select:none;">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Total calories burned
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TotalCalories</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-fire-alt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div style="cursor:pointer; user-select:none;" class="card border-left-info shadow h-100 py-2">
                <div onclick="changeFitnessCard(0, 1)" class="fitnessCards card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Activities: Cycling
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.ActivitiesCycling.Count</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-biking fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
                <div onclick="changeFitnessCard(1, 2)" class="d-none fitnessCards card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Activities: Running
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.ActivitiesRunning.Count</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-running fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
                <div onclick="changeFitnessCard(2, 0)" class="card-body d-none fitnessCards">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Activities: Hiking
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.ActivitiesHiking.Count</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-hiking fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2" style="user-select:none;">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Group memberships
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.UserGroups.Count</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <div onclick="changeData(1, 2, 'Cycling')" style="cursor:pointer; user-select:none;" class="lineChartHeaders card-header py-3 d-flex flex-row align-items-center justify-content-between hoverHeader">
                    <h6 class="m-0 font-weight-bold text-primary">Activities Overview (Monthly)</h6>
                </div>
                <div onclick="changeData(2, 3, 'Running')" style="cursor:pointer; user-select:none;" class="lineChartHeaders card-header py-3 flex-row align-items-center justify-content-between d-none hoverHeader">
                    <h6 class="m-0 font-weight-bold text-primary">Cycling Activities Overview (Monthly)</h6>
                </div>
                <div onclick="changeData(3, 4, 'Hiking')" style="cursor:pointer; user-select:none;" class="lineChartHeaders card-header py-3 flex-row align-items-center justify-content-between d-none hoverHeader">
                    <h6 class="m-0 font-weight-bold text-primary">Running Activities Overview (Monthly)</h6>
                </div>
                <div onclick="changeData(4, 1, 'Activities')" style="cursor:pointer; user-select:none;" class="lineChartHeaders card-header py-3 flex-row align-items-center justify-content-between d-none hoverHeader">
                    <h6 class="m-0 font-weight-bold text-primary">Hiking Activities Overview (Monthly)</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myAreaChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Diversity Of Activities</h6>
                </div>
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="myPieChart"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                        <span class="mr-2">
                            <i class="fas fa-circle text-primary"></i> Running
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-success"></i> Cycling
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-info"></i> Hiking
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="row">
        <div class="col-lg-12 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Recent Activities (Last Month)</h6>
                </div>
                <div class="card-body">
                    @if (Model.ActivitiesLastMonth.Count != 0)
                    {
                        <table class="table table-hover table-sm mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Duration</th>
                                    <th scope="col">Distance</th>
                                    <th scope="col">Calories</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ActivitiesLastMonth)
                                {
                                    <tr style="cursor:pointer;" onclick="location.href='@url/Activity?ActivityId=@item.pk_ActivityID';">
                                        <td scope="row">@item.ActivityName</td>
                                        <td>@item.ActivityType</td>
                                        <td>@item.StartTime</td>
                                        <td>@item.TTime</td>
                                        <td>@item.TKm</td>
                                        <td>@item.TotalCalories</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div>No recent activities found. Add a new one <a href="/Account/CreateActivity">here!</a></div>
                    }


                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="rankingCards card shadow mb-4">
                <div style="cursor:pointer; user-select:none;" onclick="changeRankingCard(0,1)" class="card-header py-3 hoverHeader">
                    <h6 class="m-0 font-weight-bold text-primary">Rank In Your Groups (Most Activities)</h6>
                </div>
                <div class="card-body">
                    @foreach (var item in Model.UserGroups)
                    {
                        <div style="cursor:pointer; user-select:none;" class="hover" onclick="location.href='@url/Group?GroupId=@item.pk_GroupID'">
                            <h4 class="small font-weight-bold">
                                @item.GroupName <span class="float-right">@Model.GroupRankingByProperty["Activities"][item.pk_GroupID][0]<sup>th</sup> / @Model.GroupRankingByProperty["Activities"][item.pk_GroupID][1]</span>
                            </h4>
                            <div class="progress mb-4">
                                @if (@Model.GroupRankingByProperty["Activities"][item.pk_GroupID][2] < 30)
                                {
                                    <div class="progress-bar bg-danger" role="progressbar" style="width:@Model.GroupRankingByProperty["Activities"][item.pk_GroupID][2]%"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>

                                }
                                else if (@Model.GroupRankingByProperty["Activities"][item.pk_GroupID][2] < 70)
                                {
                                    <div class="progress-bar bg-warning" role="progressbar" style="width:@Model.GroupRankingByProperty["Activities"][item.pk_GroupID][2]%"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                }
                                else
                                {
                                    <div class="progress-bar bg-success" role="progressbar" style="width:@Model.GroupRankingByProperty["Activities"][item.pk_GroupID][2]%"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                }
                            </div>
                        </div>
                    }

                </div>
            </div>

            <div class="rankingCards d-none card shadow mb-4">
                <div style="cursor:pointer; user-select:none;" onclick="changeRankingCard(1,2)" class="card-header py-3 hoverHeader">
                    <h6 class="m-0 font-weight-bold text-primary">Rank In Your Groups (Most Cycling Activities)</h6>
                </div>
                <div class="card-body">
                    @foreach (var item in Model.UserGroups)
                    {
                        <div style="cursor:pointer; user-select:none;" class="hover" onclick="location.href='@url/Group?GroupId=@item.pk_GroupID'">
                            <h4 class="small font-weight-bold">
                                @item.GroupName <span class="float-right">@Model.GroupRankingByProperty["Cycling"][item.pk_GroupID][0]<sup>th</sup> / @Model.GroupRankingByProperty["Cycling"][item.pk_GroupID][1]</span>
                            </h4>
                            <div class="progress mb-4">
                                @if (Model.GroupRankingByProperty["Cycling"][item.pk_GroupID][2] < 30)
                                {
                                    <div class="progress-bar bg-danger" role="progressbar" style="width:@Model.GroupRankingByProperty["Cycling"][item.pk_GroupID][2]%"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>

                                }
                                else if (Model.GroupRankingByProperty["Cycling"][item.pk_GroupID][2] < 70)
                                {
                                    <div class="progress-bar bg-warning" role="progressbar" style="width:@Model.GroupRankingByProperty["Cycling"][item.pk_GroupID][2]%"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                }
                                else
                                {
                                    <div class="progress-bar bg-success" role="progressbar" style="width:@Model.GroupRankingByProperty["Cycling"][item.pk_GroupID][2]%"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                }
                            </div>
                        </div>
                    }

                </div>
            </div>

            <div class="rankingCards d-none card shadow mb-4">
                <div style="cursor:pointer; user-select:none;" onclick="changeRankingCard(2,3)" class="card-header py-3 hoverHeader">
                    <h6 class="m-0 font-weight-bold text-primary">Rank In Your Groups (Most Running Activities)</h6>
                </div>
                <div class="card-body">
                    @foreach (var item in Model.UserGroups)
                    {
                        <div style="cursor:pointer; user-select:none;" class="hover" onclick="location.href='@url/Group?GroupId=@item.pk_GroupID'">
                            <h4 class="small font-weight-bold">
                                @item.GroupName <span class="float-right">@Model.GroupRankingByProperty["Running"][item.pk_GroupID][0]<sup>th</sup> / @Model.GroupRankingByProperty["Running"][item.pk_GroupID][1]</span>
                            </h4>
                            <div class="progress mb-4">
                                @if (Model.GroupRankingByProperty["Running"][item.pk_GroupID][2] < 30)
                                {
                                    <div class="progress-bar bg-danger" role="progressbar" style="width:@Model.GroupRankingByProperty["Running"][item.pk_GroupID][2]%"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>

                                }
                                else if (Model.GroupRankingByProperty["Running"][item.pk_GroupID][2] < 70)
                                {
                                    <div class="progress-bar bg-warning" role="progressbar" style="width:@Model.GroupRankingByProperty["Running"][item.pk_GroupID][2]%"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                }
                                else
                                {
                                    <div class="progress-bar bg-success" role="progressbar" style="width:@Model.GroupRankingByProperty["Running"][item.pk_GroupID][2]%"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                }
                            </div>
                        </div>
                    }

                </div>
            </div>

            <div class="rankingCards d-none card shadow mb-4">
                <div style="cursor:pointer; user-select:none;" onclick="changeRankingCard(3,4)" class="card-header py-3 hoverHeader">
                    <h6 class="m-0 font-weight-bold text-primary">Rank In Your Groups (Most Hiking Activities)</h6>
                </div>
                <div class="card-body">
                    @foreach (var item in Model.UserGroups)
                    {
                        <div style="cursor:pointer; user-select:none;" class="hover" onclick="location.href='@url/Group?GroupId=@item.pk_GroupID'">
                            <h4 class="small font-weight-bold">
                                @item.GroupName <span class="float-right">@Model.GroupRankingByProperty["Hiking"][item.pk_GroupID][0]<sup>th</sup> / @Model.GroupRankingByProperty["Hiking"][item.pk_GroupID][1]</span>
                            </h4>
                            <div class="progress mb-4">
                                @if (Model.GroupRankingByProperty["Hiking"][item.pk_GroupID][2] < 30)
                                {
                                    <div class="progress-bar bg-danger" role="progressbar" style="width:@Model.GroupRankingByProperty["Hiking"][item.pk_GroupID][2]%"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>

                                }
                                else if (Model.GroupRankingByProperty["Hiking"][item.pk_GroupID][2] < 70)
                                {
                                    <div class="progress-bar bg-warning" role="progressbar" style="width:@Model.GroupRankingByProperty["Hiking"][item.pk_GroupID][2]%"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                }
                                else
                                {
                                    <div class="progress-bar bg-success" role="progressbar" style="width:@Model.GroupRankingByProperty["Hiking"][item.pk_GroupID][2]%"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                }
                            </div>
                        </div>
                    }

                </div>
            </div>


            <div class="rankingCards d-none card shadow mb-4">
                <div style="cursor:pointer; user-select:none;" onclick="changeRankingCard(4,5)" class="card-header py-3 hoverHeader">
                    <h6 class="m-0 font-weight-bold text-primary">Rank In Your Groups (Most Distance)</h6>
                </div>
                <div class="card-body">
                    @foreach (var item in Model.UserGroups)
                    {
                        <div style="cursor:pointer; user-select:none;" class="hover" onclick="location.href='@url/Group?GroupId=@item.pk_GroupID'">
                            <h4 class="small font-weight-bold">
                                @item.GroupName <span class="float-right">@Model.GroupRankingByProperty["Distance"][item.pk_GroupID][0]<sup>th</sup> / @Model.GroupRankingByProperty["Distance"][item.pk_GroupID][1]</span>
                            </h4>
                            <div class="progress mb-4">
                                @if (Model.GroupRankingByProperty["Distance"][item.pk_GroupID][2] < 30)
                                {
                                    <div class="progress-bar bg-danger" role="progressbar" style="width:@Model.GroupRankingByProperty["Distance"][item.pk_GroupID][2]%"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>

                                }
                                else if (Model.GroupRankingByProperty["Distance"][item.pk_GroupID][2] < 70)
                                {
                                    <div class="progress-bar bg-warning" role="progressbar" style="width:@Model.GroupRankingByProperty["Distance"][item.pk_GroupID][2]%"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                }
                                else
                                {
                                    <div class="progress-bar bg-success" role="progressbar" style="width:@Model.GroupRankingByProperty["Distance"][item.pk_GroupID][2]%"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                }
                            </div>
                        </div>
                    }

                </div>
            </div>

            <div class="rankingCards d-none card shadow mb-4">
                <div style="cursor:pointer; user-select:none;" onclick="changeRankingCard(5,0)" class="card-header py-3 hoverHeader">
                    <h6 class="m-0 font-weight-bold text-primary">Rank In Your Groups (Most Calories)</h6>
                </div>
                <div class="card-body">
                    @foreach (var item in Model.UserGroups)
                    {
                        <div style="cursor:pointer; user-select:none;" class="hover" onclick="location.href='@url/Group?GroupId=@item.pk_GroupID'">
                            <h4 class="small font-weight-bold">
                                @item.GroupName <span class="float-right">@Model.GroupRankingByProperty["Calories"][item.pk_GroupID][0]<sup>th</sup> / @Model.GroupRankingByProperty["Calories"][item.pk_GroupID][1]</span>
                            </h4>
                            <div class="progress mb-4">
                                @if (Model.GroupRankingByProperty["Calories"][item.pk_GroupID][2] < 30)
                                {
                                    <div class="progress-bar bg-danger" role="progressbar" style="width:@Model.GroupRankingByProperty["Calories"][item.pk_GroupID][2]%"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>

                                }
                                else if (Model.GroupRankingByProperty["Calories"][item.pk_GroupID][2] < 70)
                                {
                                    <div class="progress-bar bg-warning" role="progressbar" style="width:@Model.GroupRankingByProperty["Calories"][item.pk_GroupID][2]%"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                }
                                else
                                {
                                    <div class="progress-bar bg-success" role="progressbar" style="width:@Model.GroupRankingByProperty["Calories"][item.pk_GroupID][2]%"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                }
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Group Memberships</h6>
                </div>
                <div class="card-body">
                    @foreach (var item in Model.UserGroups)
                    {
                        <p class="h6 font-weight-bold hover" style="cursor:pointer;" onclick="location.href='@url/Group?GroupId=@item.pk_GroupID'">
                            @item.GroupName
                        </p>
                    }
                </div>
            </div>

            <!-- Approach -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Quick Menu</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <ul class="m-0 pl-3">
                                <li>
                                    <a class="hover" asp-controller="Account" asp-action="Activity">
                                        <p class="h6 hover text-secondary font-weight-bold">Activity Overview</p>
                                    </a>
                                </li>
                                <hr />
                                <li>
                                    <a class="hover" asp-controller="Account" asp-action="CreateActivity">
                                        <p class="h6 hover text-secondary font-weight-bold">Create An Activity</p>
                                    </a>
                                </li>
                                <li>
                                    <a class="hover" asp-controller="Account" asp-action="EditActivity">
                                        <p class="h6 hover text-secondary font-weight-bold">Edit An Activity</p>
                                    </a>
                                </li>
                                <li>
                                    <a class="hover" asp-controller="Account" asp-action="DeleteActivity">
                                        <p class="h6 hover text-secondary font-weight-bold">Delete An Activity</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="m-0 pl-3">
                                <li>
                                    <a class="hover" asp-controller="Account" asp-action="Group">
                                        <p class="h6 hover text-secondary font-weight-bold">Group Overview</p>
                                    </a>
                                </li>
                                <hr />
                                <li>
                                    <a class="hover" asp-controller="Account" asp-action="CreateGroup">
                                        <p class="h6 hover text-secondary font-weight-bold">Create A Group</p>
                                    </a>
                                </li>
                                <li>
                                    <a class="hover" asp-controller="Account" asp-action="LeaveGroup">
                                        <p class="h6 hover text-secondary font-weight-bold">Leave A Group</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>